footer {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 2rem 0;

	@include size-sm() {
		padding: 3rem 0;
		flex-direction: row;
	}

	>:nth-child(1) {
		flex: 0 1 auto;
		display: block;
	}

	>:nth-child(2) {
		flex: 0 1 auto;
		display: none;

		@include size-sm() {
			display: block;
		}
	}

	>:nth-child(3) {
		flex: 0 1 auto;
		display: block;
	}
}