header {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 0;

	.name {
		flex: 1;
	}

	.title {
		flex: 1;
		color: $color-foreground-secondary;
	}

	@include size-md() {
		padding: 2rem 0;
	}

	@include size-lg() {
		padding: 3rem 0;
	}
}