$color-foreground: rgb(245, 245, 245);
$color-foreground-secondary: rgb(216, 216, 216);
$color-background: rgb(22, 24, 28);
$color-background-secondary: rgb(23, 30, 48);
$color-highlight: rgb(89, 141, 227);

$font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto, Arial,
	sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
$font-mono: "Inconsolata", monospace;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@mixin size-sm {
	@media screen and (min-width: $breakpoint-sm) {
		@content;
	}
}

@mixin size-md {
	@media screen and (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin size-lg {
	@media screen and (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin size-xl {
	@media screen and (min-width: $breakpoint-xl) {
		@content;
	}
}
