.section-work {
	@include size-lg() {
		flex-direction: row-reverse;
	}
}

.work-text > p {
	margin-bottom: 0;
}

.work-logo {
	padding: 2rem 0;
	width: 40%;

	.logo-image {
		background-image: url("../images/ahs.png");
		background-size: 100%;
		background-repeat: no-repeat;
		padding-bottom: 29.79%; //792x236
	}
}

.work-image {
	padding-top: 2rem;

	@include size-lg() {
		padding-top: 0;
		padding-right: 5rem;
	}

	.wrapper {
		margin: 0 15%;
		position: relative;

		@include size-lg() {
			margin: 0;
		}
	}
}

.code-image {
	@include retina-image("../images/code");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 62.4%; //1000x624
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);
}

.app-image {
	@include retina-image("../images/application");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 62.4%; //500x312
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: scale(0.5) translateX(5%) translateY(5%);
	transform-origin: bottom right;

	@include size-lg() {
		transform: scale(0.5) translateX(10%) translateY(10%);
	}
}