---
import ContactPartial from "../components/ContactPartial.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Window from "../components/Window.astro";
import TerminalContent from "../components/TerminalContent.astro";
import TerminalBlock from "../components/TerminalBlock.astro";
import Menu from "../components/Menu.astro";
---

<DefaultLayout title="Aaron Mandseth - Full stack developer">
	<div class="mx-auto h-full w-full sm:px-4 sm:pt-4">
		<Window title="Terminal" useMediaQuery={true}>
			<TerminalBlock>
				<TerminalContent command="cat menu.md">
					<Menu />
				</TerminalContent>
				<TerminalContent command="cat contact.md">
					<ContactPartial />
				</TerminalContent>
			</TerminalBlock>
		</Window>
	</div>
</DefaultLayout>
