---
import { Icon } from "astro-icon";

import DefaultLayout from "../layouts/DefaultLayout.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<DefaultLayout title="Aaron Mandseth - Full stack developer">
	<main>
		<div class="flex justify-center items-center h-screen w-full relative">
			<div class="z-10 row-start-2 max-w-3xl mx-auto text-center">
				<h1
					class="text-4xl font-bold text-brand-highlight text-shadow-lg mb-2"
				>
					Aaron Mandseth
				</h1>
				<h2 class="text-3xl mb-4">Full stack developer</h2>
				<div class="flex gap-6 text-xl">
					<a class="flex-1 text-right" href="#about">
						About
						<Icon
							class="inline-block h-5 pb-0.5"
							pack="ph"
							name="arrow-square-right-bold"
						/>
					</a>
					<a class="flex-1 text-left" href="#contact">
						Contact
						<Icon
							class="inline-block h-5 pb-0.5"
							pack="ph"
							name="arrow-square-right-bold"
						/>
					</a>
				</div>
			</div>
		</div>
		<div id="content" class="container mx-auto">
			<About />
			<Contact />
		</div>
	</main>
</DefaultLayout>
