---
import { Icon } from "astro-icon";

import DefaultLayout from "../layouts/DefaultLayout.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<DefaultLayout title="Aaron Mandseth - Full stack developer">
	<main>
		<div
			class="flex justify-center items-center h-screen w-full relative backgrounds"
		>
			<div class="z-10 row-start-2 max-w-3xl mx-auto text-center">
				<h1 class="text-5xl font-bold mb-2 shadow-gray-800">
					Aaron Mandseth
				</h1>
				<h2 class="text-3xl mb-4">Full stack developer</h2>
				<div class="flex gap-6 text-xl">
					<a class="flex-1 text-right" href="#about">
						About
						<Icon
							class="inline-block h-5 pb-0.5"
							pack="ph"
							name="arrow-square-right-bold"
						/>
					</a>
					<a class="flex-1 text-left" href="#contact">
						Contact
						<Icon
							class="inline-block h-5 pb-0.5"
							pack="ph"
							name="arrow-square-right-bold"
						/>
					</a>
				</div>
			</div>
		</div>
		<div id="content" class="container mx-auto">
			<About />
			<Contact />
		</div>
	</main>

	<style>
		h1 {
			text-shadow: 0 2px 12px var(--tw-shadow-color);
		}

		.backgrounds {
			background: url("/gradients.jpg") top center/100% no-repeat,
				rgb(22, 24, 28);
		}
	</style>
</DefaultLayout>
