---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
---

<DefaultLayout title="Aaron Mandseth - Full stack developer">
	<Hero />
	<div id="content" class="container mx-auto">
		<About />
		<Work />
		<Contact />
	</div>
</DefaultLayout>
