---
import { Picture } from "@astrojs/image/components";

import Pill from "./Pill.astro";

import avatarImage from "../images/avatar.png";
---

<section
	id="about"
	class="my-16 grid gap-8 pt-4 text-lg md:my-24 md:grid-cols-2 lg:gap-16"
>
	<div class="flex items-center justify-center">
		<div class="w-[50%] md:w-[75%] lg:w-[60%]">
			<Picture
				src={avatarImage}
				alt="Avatar"
				class="lazy"
				widths={[140, 280, 420, 561]}
				sizes="(min-width: 768px) 25vw, 40vw"
				aspectRatio={1}
				loading="lazy"
				decoding="async"
			/>
		</div>
	</div>
	<div>
		<div>
			<h1 class="my-4 text-3xl">About</h1>
			<p>
				I'm a full stack web developer based in Edmonton, Alberta. I'm
				most familiar with the following technologies:
			</p>
			<div class="my-6 flex flex-wrap gap-3">
				{
					[
						"C#",
						"ASP .NET Core & MVC",
						"Entity Framework Core",
						"HTML & CSS",
						"JavaScript & TypeScript",
						"Bootstrap",
						"Tailwind",
						"SQL",
					].map((item) => (
						<Pill class="bg-brand-highlight-darker text-brand-foreground">
							{item}
						</Pill>
					))
				}
			</div>
			<p>
				In my free time I'm enjoying learning new tools and frameworks
				such as React, Next.js, and Astro.
			</p>
		</div>
	</div>
</section>
