---
import Pill from "./Pill.astro";
---

<section
	id="about"
	class="my-24 grid gap-8 pt-4 text-lg md:grid-cols-2 lg:gap-16"
>
	<div></div>
	<div>
		<div>
			<h1 class="my-4 text-3xl">About</h1>
			<p>
				I'm a full stack developer based in Edmonton, Alberta. I'm most
				familiar with C#, ASP .NET Core MVC, and related technologies.
			</p>
			<div class="my-6 flex flex-wrap gap-3">
				{
					[
						"C#",
						"ASP .NET Core & MVC",
						"Entity Framework Core",
						"HTML & CSS",
						"Bootstrap",
						"Tailwind",
						"SQL Server",
						"Oracle",
					].map((item) => (
						<Pill class="bg-brand-highlight text-brand-foreground">
							{item}
						</Pill>
					))
				}
			</div>
			<p>
				In my free time I'm enjoying learning new tools and frameworks
				such as React, Next.js, and Astro.
			</p>
		</div>
	</div>
</section>
