---
import { Image } from "astro:assets";
import Pill from "./Pill.astro";

import avatarImage from "../images/avatar.png";
---

<section
	id="about"
	class="mb-16 grid gap-24 pt-4 text-lg md:my-24 md:grid-cols-2 lg:gap-16"
>
	<div class="flex items-center justify-center">
		<div class="w-[65%] md:w-[75%] lg:w-[60%]">
			<Image
				src={avatarImage}
				alt="Avatar"
				width={avatarImage.width / 1.5}
				densities={[1.5]}
				quality="max"
				class="lazy w-full"
				loading="lazy"
				decoding="async"
			/>
		</div>
	</div>
	<div>
		<div>
			<div class="mb-6">
				<span
					class="mb-2 inline-block text-xl font-semibold uppercase tracking-widest text-brand-highlight"
				>
					About
				</span>
				<div class="h-px w-8 bg-brand-highlight opacity-50"></div>
			</div>
			<p>
				I'm a full stack web developer based in Edmonton, Alberta. I'm
				most familiar with the following technologies:
			</p>
			<div class="my-6 flex flex-wrap gap-3">
				{
					[
						"C#",
						"ASP .NET Core & MVC",
						"Entity Framework Core",
						"HTML & CSS",
						"JavaScript & TypeScript",
						"Bootstrap",
						"Tailwind",
						"SQL",
					].map((item) => (
						<Pill class="bg-brand-highlight-darker text-brand-foreground">
							{item}
						</Pill>
					))
				}
			</div>
		</div>
	</div>
</section>
