---
interface Props {
	href: string;
	class: string;
}

const { href, class: className } = Astro.props;
---

<a
	class={`py-2 px-4 rounded-md border whitespace-nowrap leading-none ${className}`}
	href={href}
>
	<slot />
</a>
