---
import { ContactForm } from "./ContactForm.tsx";

const apiBaseUrl = import.meta.env.API_URL || "https://api.aaronmandseth.com";
const apiVersion = import.meta.env.API_VERSION || "v1.0";
const cfSiteKey = import.meta.env.CF_SITE_KEY || "<missing site key>";
---

<section id="contact" class="my-24 pt-4 text-lg">
	<div class="mb-6">
		<span
			class="mb-2 inline-block text-xl font-semibold uppercase tracking-widest text-brand-highlight"
		>
			Contact
		</span>
		<div class="h-px w-8 bg-brand-highlight opacity-50"></div>
	</div>
	<p class="mb-8">
		Please fill out the form below and I will get back to you as soon as
		possible. I look forward to hearing from you!
	</p>
	<div class="w-full">
		<ContactForm
			apiBaseUrl={apiBaseUrl}
			apiVersion={apiVersion}
			cfSiteKey={cfSiteKey}
			client:visible
		/>
	</div>
</section>
