<section id="contact" class="my-24 pt-4 text-lg">
	<h1 class="my-4 text-3xl">Contact</h1>
	<p>
		You can reach me at
		<span class="rounded-lg bg-gray-800 p-1 font-mono">aaron</span>
		at
		<span class="rounded-lg bg-gray-800 p-1 font-mono"
			>aaronmandseth.com</span
		>.
	</p>
	<p>
		I'm always open to exploring new opportunities. I look forward to
		hearing from you!
	</p>
</section>
