---
---

<footer class="container mx-auto py-12 flex">
	<span class="text-gray-500 flex-1">&copy; Aaron Mandseth</span>
	<a
		class="flex-1 text-right text-brand-highlight underline underline-offset-4"
		href="https://github.com/amandseth/aaronmandseth.com"
		target="_blank"
	>
		Source code
	</a>
</footer>
