---
import { Icon } from "astro-icon";
---

<footer class="mx-auto px-8 py-4 text-center bg-brand-background-darker sm:bg-inherit">
	<span class="text-gray-500">
		&copy; Aaron Mandseth -
		<a
			class="text-brand-highlight underline-shadow"
			href="https://github.com/amandseth/aaronmandseth.com"
			target="_blank"
		>
			Source code
			<Icon
				class="inline-block h-5 pb-0.5 pl-1"
				pack="ph"
				name="code-bold"
			/>
		</a>
	</span>
</footer>
