---
import { Icon } from "astro-icon/components";
---

<footer class="container mx-auto flex py-12">
	<span class="flex-grow text-gray-500">&copy; Aaron Mandseth</span>
	<div class="flex-shrink">
		<a
			class="text-brand-highlight"
			href="https://github.com/amandseth/aaronmandseth.com"
			target="_blank"
		>
			Source code
			<Icon
				class="inline-block"
				name="ph:code-bold"
			/>
		</a>
	</div>
</footer>
