---
import { Icon } from "astro-icon";
---

<footer class="container mx-auto py-12 flex">
	<span class="text-gray-500 flex-1">&copy; Aaron Mandseth</span>
	<a
		class="flex-1 text-right text-brand-highlight"
		href="https://github.com/amandseth/aaronmandseth.com"
		target="_blank"
	>
		Source code
		<Icon class="inline-block h-5 pb-0.5 pl-1" pack="ph" name="code-bold" />
	</a>
</footer>
