---
// no imports needed
---

<header
	class="fixed left-0 right-0 top-0 z-50 border-b border-white/10 bg-brand-background/75 backdrop-blur-md"
>
	<div
		class="container mx-auto flex max-w-[95vw] items-center justify-between py-4 md:max-w-[90vw] lg:max-w-screen-2xl"
	>
		<a
			href="#"
			class="text-md gap-4 font-semibold tracking-tight text-brand-foreground transition-colors hover:text-brand-highlight md:text-2xl"
		>
			Aaron Mandseth
		</a>
		<nav>
			<ul class="flex list-none items-center gap-1">
				<li>
					<a
						href="#about"
						class="rounded-md px-1 py-0.5 text-base text-brand-foreground-darker transition-colors hover:bg-white/5 hover:text-brand-foreground md:px-3 md:py-1.5"
						>About</a
					>
				</li>
				<li>
					<a
						href="#work"
						class="rounded-md px-1 py-0.5 text-base text-brand-foreground-darker transition-colors hover:bg-white/5 hover:text-brand-foreground md:px-3 md:py-1.5"
						>Work</a
					>
				</li>
				<li>
					<a
						href="#contact"
						class="rounded-md px-1 py-0.5 text-base text-brand-foreground-darker transition-colors hover:bg-white/5 hover:text-brand-foreground md:px-3 md:py-1.5"
						>Contact</a
					>
				</li>
			</ul>
		</nav>
	</div>
</header>
