---
import { Icon } from "astro-icon";
import Button from "./Button.astro";
---

<header
	id="header"
	class="pointer-events-none invisible fixed z-20 hidden w-full px-4 py-4 opacity-0 transition-all duration-200 ease-in-out md:px-8 md:py-8"
>
	<div class="flex justify-end">
		<Button
			href="#"
			class="border-brand-highlight bg-brand-background text-brand-foreground shadow-xl"
		>
			<div class="pointer-events-auto flex gap-2 pt-0.5">
				<span class="hidden md:inline">Back to top</span>
				<Icon
					class="inline-block h-5 pb-0.5"
					pack="ph"
					name="arrow-line-up-bold"
				/>
			</div>
		</Button>
	</div>
</header>

<script>
	window.addEventListener("load", () => {
		const observerOptions = {
			threshold: 0.25,
		};

		const header = document.getElementById("header");
		const content = document.getElementById("content");

		if (!header || !content) return;

		//This is to prevent the header flashing on load due to the transition.
		//Was most noticable on mobile.
		header.classList.remove("hidden");

		const observer = new IntersectionObserver((entries) => {
			for (let i = 0; i < entries.length; i++) {
				if (entries[i].target === content) {
					if (entries[i].isIntersecting) {
						header.classList.remove("opacity-0", "invisible");
					} else {
						header.classList.add("opacity-0", "invisible");
					}
				}
			}
		}, observerOptions);

		observer.observe(content);
	});
</script>
