---
import { Icon } from "astro-icon";
import Button from "./Button.astro";
---

<header
	id="header"
	class="fixed z-20 w-full px-8 py-3 transition-all ease-in-out duration-200 opacity-0 invisible hidden"
>
	<div class="flex justify-end">
		<Button
			href="#"
			class="bg-brand-background border-brand-highlight text-brand-foreground shadow-xl"
		>
			Back to top
			<Icon
				class="inline-block h-5 pb-0.5 pl-1"
				pack="ph"
				name="arrow-line-up-bold"
			/>
		</Button>
	</div>
</header>

<script>
	window.addEventListener("load", () => {
		const observerOptions = {
			threshold: 0.3,
		};

		const header = document.getElementById("header");
		const content = document.getElementById("content");

		if (!header || !content) return;

		//This is to prevent the header flashing on load due to the transition.
		//Was most noticable on mobile.
		header.classList.remove("hidden");

		const observer = new IntersectionObserver((entries) => {
			for (let i = 0; i < entries.length; i++) {
				if (entries[i].target === content) {
					if (entries[i].isIntersecting) {
						header.classList.remove("opacity-0", "invisible");
					} else {
						header.classList.add("opacity-0", "invisible");
					}
				}
			}
		}, observerOptions);

		observer.observe(content);
	});
</script>
