---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

import Button from "../components/Button.astro";

import gradientsImage from "../images/gradients.jpg";
---

<main>
	<div
		class="backgrounds relative flex h-screen w-full items-center justify-center"
	>
		<Picture
			src={gradientsImage}
			alt=""
			class="absolute left-0 top-0 -z-10 max-h-full min-h-full min-w-full object-cover"
			widths={[960, 1920, 2880, 3840]}
			sizes="100vw"
			aspectRatio={16 / 9}
			loading="lazy"
			decoding="async"
		/>
		<div class="z-10 row-start-2 mx-auto px-8 text-center">
			<h1 class="mb-2 text-5xl font-bold shadow-gray-800">
				Aaron Mandseth
			</h1>
			<h2 class="mb-4 text-3xl">Full stack developer</h2>
			<div
				class="flex flex-col gap-4 pt-8 text-xl md:flex-row md:gap-6 md:pt-4"
			>
				<Button href="#about" class="flex-1 bg-white bg-opacity-10">
					About
					<Icon
						class="inline-block h-5 pb-0.5"
						pack="ph"
						name="arrow-square-right-bold"
					/>
				</Button>
				<Button href="#work" class="flex-1 bg-white bg-opacity-10">
					Work
					<Icon
						class="inline-block h-5 pb-0.5"
						pack="ph"
						name="arrow-square-right-bold"
					/>
				</Button>
				<Button href="#contact" class="flex-1 bg-white bg-opacity-10">
					Contact
					<Icon
						class="inline-block h-5 pb-0.5"
						pack="ph"
						name="arrow-square-right-bold"
					/>
				</Button>
			</div>
		</div>
	</div>
</main>

<style>
	h1 {
		text-shadow: 0 4px 16px var(--tw-shadow-color);
	}

	.backgrounds {
		background: linear-gradient(
			to bottom,
			transparent 0 80%,
			rgb(22, 24, 28) 100%
		);
	}
</style>
