---
import ButtonGroup from "./ButtonGroup.astro";
import ButtonGroupButton from "./ButtonGroupButton.astro";

import { generateSrcset } from "../utils/image_sizes";

import gradientsImage from "../images/gradients.jpg";
const gradientsImageSrcset = await generateSrcset(
	gradientsImage,
	[960, 1920, 2880, 3840]
);
---

<main>
	<div
		class="backgrounds relative flex h-screen w-full items-center justify-center"
	>
		<img
			srcset={gradientsImageSrcset}
			sizes="100vw"
			alt=""
			class="lazy absolute left-0 top-0 -z-10 max-h-full min-h-full min-w-full object-cover"
			loading="lazy"
			decoding="async"
		/>
		<div class="z-10 mx-auto px-8 text-center">
			<h1 class="mb-2 text-5xl font-bold shadow-gray-800">
				Aaron Mandseth
			</h1>
			<h2 class="mb-8 text-3xl">Full stack developer</h2>

			<ButtonGroup extraClasses="bg-brand-background shadow-xl">
				<ButtonGroupButton
					extraClasses="hover:bg-brand-highlight-darker"
					href="#about"
				>
					About
				</ButtonGroupButton>
				<ButtonGroupButton
					extraClasses="hover:bg-brand-highlight-darker"
					href="#work"
				>
					Work
				</ButtonGroupButton>
				<ButtonGroupButton
					extraClasses="hover:bg-brand-highlight-darker"
					href="#contact"
				>
					Contact
				</ButtonGroupButton>
			</ButtonGroup>
		</div>
	</div>
</main>

<style>
	h1 {
		text-shadow: 0 4px 16px var(--tw-shadow-color);
	}

	.backgrounds {
		background: linear-gradient(
			to bottom,
			transparent 0 80%,
			rgb(22, 24, 28) 100%
		);
	}
</style>
