---
interface Props {
	class: string;
}

const { class: className } = Astro.props;
---

<div
	class={`inline-block rounded-3xl px-3 py-2 whitespace-nowrap leading-none ${className}`}
>
	<slot />
</div>
