---
import { Image } from "astro:assets";

import hssLogoImage from "../images/hss-logo.svg";
import codeImage from "../images/code.png";
---

<section
	id="work"
	class="my-16 grid gap-8 pt-4 text-lg md:my-40 md:grid-cols-2 lg:gap-16"
>
	<div class="mt-4">
		<div>
			<div class="mb-6">
				<span
					class="mb-2 inline-block text-xl font-semibold uppercase tracking-widest text-brand-highlight"
				>
					Work
				</span>
				<div class="h-px w-8 bg-brand-highlight opacity-50"></div>
			</div>
			<p>
				I currently work at Health Shared Services, where I build
				solutions that assist healthcare workers in delivering quality
				patient care.
			</p>
			<div class="mt-8 flex justify-center md:block md:max-w-[50%]">
				<a href="https://healthsharedservices.ca" target="_blank">
					<Image
						src={hssLogoImage}
						alt="Health Shared Services logo"
						width={hssLogoImage.width}
						class="lazy rounded-lg bg-brand-foreground px-4 py-3"
						loading="lazy"
						decoding="async"
					/>
				</a>
			</div>
		</div>
	</div>
	<div class="relative mt-4">
		<Image
			src={codeImage}
			alt="Source code in a text editor"
			width={codeImage.width / 2}
			densities={[2, 4]}
			quality="max"
			class="lazy shadow-lg"
			loading="lazy"
			decoding="async"
		/>
	</div>
</section>
