---
import { Image } from "astro:assets";

import ahsLogoImage from "../images/ahs.png";
import codeImage from "../images/code.png";
import appImage from "../images/application.png";
---

<section
	id="work"
	class="my-16 grid gap-8 pt-4 text-lg md:my-40 md:grid-cols-2 lg:gap-16"
>
	<div class="mt-4">
		<div>
			<h1 class="my-4 text-3xl">Work</h1>
			<p>
				I am currently working at Alberta Health Services, where I build
				solutions that assist healthcare workers in delivering quality
				patient care.
			</p>
			<div class="max-w-[40%]">
				<a href="https://albertahealthservices.ca" target="_blank">
					<Image
						src={ahsLogoImage}
						alt="Alberta Health Services logo"
						width={ahsLogoImage.width / 2}
						densities={[2]}
						class="lazy mt-8"
						loading="lazy"
						decoding="async"
					/>
				</a>
			</div>
		</div>
	</div>
	<div class="relative mt-4">
		<Image
			src={codeImage}
			alt="Source code in a text editor"
			width={codeImage.width / 4}
			densities={[2, 4]}
			quality="max"
			class="lazy w-full shadow-lg"
			loading="lazy"
			decoding="async"
		/>
		<div
			class="absolute top-0 w-full origin-bottom-right translate-x-4 translate-y-4 scale-50"
		>
			<Image
				src={appImage}
				alt="A simple web application"
				width={appImage.width / 2}
				densities={[2, 4]}
				class="lazy w-full shadow-lg"
				loading="lazy"
				decoding="async"
			/>
		</div>
	</div>
</section>
