<section>
	<div class="section-item">
		<h2 class="highlight">About me</h2>
		<div class="section-item">
			<h3 style="padding-top: 2rem;">
				I'm a full stack developer specializing in ASP .NET Core MVC
				and related technologies.
			</h3>
			<p>
				<a id="contactLink" style="font-size: 1.25rem;">
					Contact
					<i class="bi bi-arrow-right-short"></i>
				</a>
			</p>
		</div>
	</div>
	<img class="section-item float-right" src="/images/application_image.png" width="50%" height="50%" />
</section>