<section>
	<div class="section-item about-text">
		<h2 class="highlight">About Me</h2>
		<h3>I've been fascinated by technology since a young age.</h3>
		<p>
			Early on I wanted to know how the applications I interacted with every day
			worked, and I began teaching myself programming from resources I found online.
			From Visual Basic to HTML and CSS, I eagerly devoured it all.
		</p>
		<p>
			Those early experiences meant that I always knew what I wanted from my career,
			and later in life I completed both a diploma in Computer Engineering Technology
			and	an undergraduate degree in Information Systems Technology.
		</p>
		<p>
			Now I work in the Healthcare IT industry at 
			<a href="https://albertahealthservices.ca" target="_blank">Alberta Health Services</a>.
			My team	builds unique solutions that assist frontline workers and support
			staff in delivering quality patient care throughout Alberta.
		</p>
		<p>
			I'm always open to exploring new opportunities. Please feel free to <a data-action="open-modal">get in touch!</a>
		</p>
	</div>
</section>