<section>
	<div class="section-item">
		<h2>About me</h2>
		<h3 class="section-item" style="padding-top: 2rem;">
			I'm a full stack developer specializing in ASP .NET Core MVC
			and related technologies.
		</h3>
	</div>
	<img class="section-item float-right" src="/images/application_image.png" alt="" width="50%" />
</section>