<footer>
	<div>&copy; Aaron Mandseth <%= new Date().getFullYear(); %></div>
	<div>&bull;</div>
	<div>
		<a href="https://github.com/amandseth/aaronmandseth.com" target="_blank">
			<span class="icon icon-code color-link"></span>
			Source code
		</a>
	</div>
</footer>