<footer>
	<span>&copy; Aaron Mandseth <%= new Date().getFullYear(); %></span>
	<span>&bull;</span>
	<div>
		<a href="https://github.com/amandseth/aaronmandseth.com" target="_blank">
			<i class="bi bi-code"></i>
			Source code
		</a>
	</div>
</footer>