<footer>
	<span>&copy; Aaron Mandseth <%= new Date().getFullYear(); %></span>
	<span style="margin: 0 0.5rem;">&bull;</span>
	<a href="https://github.com/amandseth/aaronmandseth.com" target="_blank">
		<i class="bi bi-code"></i>
		Source code
	</a>
</footer>