<section class="section-introduction">
	<div class="section-item introduction-image-wrapper">
		<div class="introduction-image">
			<div class="overlay"></div>
			<div class="avatar-image"></div>
		</div>
	</div>
	<div class="section-item-2 introduction-text">
		<h3>
			I'm a full stack developer specializing in C#, ASP .NET Core MVC,
			and related technologies.
		</h3>
		<h3 class="contact-link">
			<a data-action="open-modal">
				Contact
				<span
					class="icon icon-arrow color-link"
					data-action="open-modal"
				></span>
			</a>
		</h3>
	</div>
</section>
