<section>
	<div class="section-item-2">
		<h3 style="padding-top: 2rem;">
			I'm a full stack developer specializing in ASP .NET Core MVC
			and related technologies.
		</h3>
		<p>
			<a id="contactLink" style="font-size: 1.25rem;">
				Contact
				<i class="bi bi-arrow-right-short"></i>
			</a>
		</p>
	</div>
	<img class="section-item float-right" style="padding: 0 5rem;" src="/images/net_core_logo.png" width="25%" height="25%" />
</section>