<div id="contactModal" class="modal">
	<div class="modal-content">
		<p>
			You can reach me at 
			<span class="code">aaron</span> at <span class="code">aaronmandseth.com</span>.
			<a id="copyEmail" data-who="aaron" data-domain="aaronmandseth" data-tld="com">Copy <i class="bi bi-clipboard2"></i></a>
		</p>
		<p>
			I am currently looking for work!
		</p>
		<a id="closeModalBtn" class="btn">Close</a>
	</div>
</div>