<div id="contactModal" class="modal" data-action="close-modal">
	<div class="modal-wrapper" data-action="close-modal">
		<div class="modal-content">
			<p>
				You can reach me at 
				<span class="code">aaron</span> at <span class="code">aaronmandseth.com</span>.
				<a id="copyEmail" data-who="aaron" data-domain="aaronmandseth" data-tld="com">Copy <span class="icon icon-clipboard color-link"></span></a>
			</p>
			<p>
				I am currently looking for work!
			</p>
			<a data-action="close-modal" class="btn">Close</a>
		</div>
	</div>
</div>