<section>
	<div class="section-item">
		<h2 class="highlight">Work</h2>
		<p>
			I build unique solutions to assist healthcare workers with delivering quality
			patient care at Alberta Health Services.
		</p>
		<img src="/images/ahs.png" alt="Alberta Health Services Logo" width="20%" />
	</div>
</section>