---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-brand-background text-brand-foreground">
		<style is:global>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;

			html,
			body {
				scroll-behavior: smooth;
			}

			body {
				font-family: -apple-system, "Segoe UI", Helvetica Neue,
					Helvetica, Roboto, Arial, sans-serif, system-ui,
					"Apple Color Emoji", "Segoe UI Emoji";
			}

			p {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			@media screen and (prefers-reduced-motion: reduce) {
				html,
				body {
					scroll-behavior: auto;
				}
			}
		</style>
		<div class="mx-auto">
			<Header />
			<slot />
			<Footer />
		</div>
		<script>
			import setup from "../utils/favicon";
			setup();
		</script>
	</body>
</html>
