---
import "../styles/global.css";

import { ViewTransitions, fade } from "astro:transitions";
import Footer from "../components/Footer.astro";
import TerminalContent from "../components/TerminalContent.astro";
import Menu from "../components/Menu.astro";
import TerminalBlock from "../components/TerminalBlock.astro";
import Window from "../components/Window.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<noscript>
			<style>
				img.lazy {
					opacity: 1 !important;
				}
			</style>
		</noscript>
	</head>
	<body
		class:list={[
			"font-standard",
			"touch-none",
			"bg-gradient-to-br",
			"from-brand-background-darker",
			"to-brand-background",
			"text-brand-foreground",
			"sm:bg-brand-background-darker",
		]}
	>
		<div style="height: 100dvh;">
			<div class="flex h-full flex-col">
				<div class="min-h-0 flex-1">
					<div
						class="mx-auto h-full w-full sm:max-w-screen-xl sm:px-4 sm:pt-4"
					>
						<Window title="Terminal" useMediaQuery={true}>
							<TerminalBlock>
								<TerminalContent command="cat menu.md">
									<Menu />
								</TerminalContent>
								<div
									transition:animate={fade({
										duration: "0.1s",
									})}
								>
									<slot />
								</div>
							</TerminalBlock>
						</Window>
					</div>
				</div>
				<div class="min-h-0 flex-shrink">
					<Footer />
				</div>
			</div>
		</div>
		<script>
			import setup from "../utils/favicon";
			setup();

			import { initLazyImages } from "../utils/lazy";
			initLazyImages();
		</script>


	</body>
</html>
