---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NoScript from "../components/NoScript.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<NoScript />
	</head>
	<body class="bg-brand-background text-brand-foreground">
		<div class="mx-auto">
			<Header />
			<slot />
			<Footer />
		</div>
		<script>
			import setup from "../utils/favicon";
			setup();

			import { initLazyImages } from "../utils/lazy";
			initLazyImages();
		</script>
	</body>
</html>
