---
import "@fontsource/open-sans";

import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-brand-background text-brand-foreground">
		<style>
			@tailwind base;
			@tailwind components;
			@tailwind utilities;

			body {
				font-family: "Open Sans", -apple-system, sans-serif, system-ui,
					"Apple Color Emoji", "Segoe UI Emoji";
			}
		</style>
		<div class="mx-auto">
			<slot />
			<Footer />
		</div>
		<script>
			import setup from "../utils/favicon";
			setup();
		</script>
	</body>
</html>
