@keyframes animate-in {
	from {
		position: relative;
		opacity: 0;
		transform: translateY(-1rem);
	}
	to {
		opacity: 1;
	}
}

@mixin animateIn($order) {
	animation-name: animate-in;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: #{$order * 300}ms;
	animation-fill-mode: backwards;
}
